<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyDhljxs54rY2v72AoIe54QHy0o2Bf5bs0k</string>
	<key>GCM_SENDER_ID</key>
	<string>612221198391</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.pingolearn.leighBazaar</string>
	<key>PROJECT_ID</key>
	<string>leighbazaar</string>
	<key>STORAGE_BUCKET</key>
	<string>leighbazaar.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:612221198391:ios:f285f6aa8a6bf33e8c9fb2</string>
</dict>
</plist>